*{
    margin: 0;

}
body{
    overflow-x: hidden;
}
.nav{
    display: flex;
    background-color: black;
    height: 80px;
}
.log img{
    margin-top: 16px;
    margin-left: 80px;

}
.txt1{
    color: white;
    margin-left: 600px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;
}
.txt2{
    color: white;
    margin-left: 40px;
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;

}
.txt3{
    color: white;
    margin-left: 40px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;

}
.txt4{
    color: white;
    margin-left: 40px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;

}
.txt5{
    color: white;
    margin-left: 40px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;

   
}
.symb{
    color: white;
    margin-left: 40px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;

}

.txt1:hover{
    color: #1ed760;
    cursor: pointer;
    margin-left: 600px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;
}
.txt2:hover{
    color: #1ed760;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;

}
.txt3:hover{
    color: #1ed760;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;

}
.text4:hover{
    color: #1ed760;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;

}
.text5:hover{
    color: #1ed760;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 32px;

    font-family: Arial, Helvetica, sans-serif;

   
}
.section{
    display: flex;
    background: url(https://www.scdn.co/i/free/bubbles-mobile.svg) center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}           
.section img{
    height: 500px;
    margin-left: 180px;
    margin-top: 100px;
}
.textp{
    padding-right: 110px;
    padding-left: 70px;
    padding-top: 150px;
    font-size: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.section button{
    width: 180px;
    height: 60px;
    border-radius: 35px;
    border: none;
    font-weight: bold;
}
.section button:hover{
    width: 184px;
    height: 62px;
    border-radius: 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.spoty{
    height: 500px;

}
.spoty h1{
    text-align: center;
    margin-top: 70px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.elm{
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}
.play1{
    text-align: center;
}
.heart{
    text-align: center;
}
.flash{
    text-align: center;
}
.line{
    text-align: center;
}
.elm p{
    font-size: 13px;
    line-height: 17px;
}
.free{
    height: 300px;
    text-align: center;
    width: 100%;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
    padding-top: 190px;
    
    
}
.free h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;

}
.play{
    
    background: url(https://www.scdn.co/i/free/bubbles-mobile.svg) center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 190px;
    
}  
.play h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 900;
}
.play button{
    width: 180px;
    height: 60px;
    border-radius: 35px;
    border: none;
    font-weight: bold;
}
.play button:hover{
    width: 184px;
    height: 62px;
    border-radius: 35px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.footer{
    
    background-color: black;
    width: 100%;
    height: 350px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 85px;
    
}  
.list1{
    float: left;
    margin-left: 200px;
}
.list1 h3{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
}
.list1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.list2{
    float: left;
    padding-left: 82px;
}
.list2 h3{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
}
.list2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.list3{
    float: left;
    padding-left: 82px;
}
.list3 h3{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
}
.list3 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.pp{
    float: right;
    margin-right: 150px;
}
.leg{
    padding-left: 80px;
    clear: both;
    width: 600px;
    
}
.leg2{
    float: right;
    margin-right: 140px;
    font-size: 12px;
    color: #919496;
}
.legal{
    padding-left: 15px;
    float: left;
    color: #919496;
    font-size: 12;
    font-weight: 400;
}
.pri{
    padding-left: 15px;
    float: left;
    color: #919496;
    font-size: 12;
    font-weight: 400;
}
.poli{
    padding-left: 15px;
    float: left;
    color: #919496;
    font-size: 12;
    font-weight: 400;
}
.cook{
    padding-left: 15px;
    float: left;
    color: #919496;
    font-size: 12;
    font-weight: 400;
}
.ads{
    padding-left: 5px;
    float: left;
    color: #919496;
    font-size: 12;
    font-weight: 400;
}
.play{
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 75px;
}
.que{
    text-align: center;
    font-weight: bolder;
    font-size: medium;

}
.q1{
    margin-left: 150px;
    font-size: 18px;
    font-weight: 600;
}
.q1:hover{
    margin-left: 150px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f6f6f6;
    cursor: pointer;
    width: 900px;
    padding: 20px;
    height: 30px;
}
.q2{
    margin-left: 150px;
    font-size: 18px;
    font-weight: 600;
}
.q2:hover{
    margin-left: 150px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f6f6f6;
    cursor: pointer;
    width: 900px;
    padding: 20px;
    height: 30px;
}
.q3{
    margin-left: 150px;
    font-size: 18px;
    font-weight: 600;
}
.q3:hover{
    margin-left: 150px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f6f6f6;
    cursor: pointer;
    width: 900px;
    padding: 20px;
    height: 30px;
}
.q4{
    margin-left: 150px;
    font-size: 18px;
    font-weight: 600;
}
.q4:hover{
    margin-left: 150px;
    font-size: 18px;
    font-weight: 600;
    background-color: #f6f6f6;
    cursor: pointer;
    width: 900px;
    padding: 20px;
    height: 30px;
}
